name: Publish

concurrency:
  group: publish

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      run: sudo apt-get install -y python3-paramiko python3-lxml

    - uses: actions/checkout@v4.2.2
      with:
        submodules: 'recursive'
    - name: Download parts
      if: ${{ vars.SECRETSLINK != '' }}
      run: |
        git clone ${{ secrets.SECRETSMAIN }}
        mv SecretsMain/_PrivateResources/_SPrototypes Resources/Prototypes/
        mv SecretsMain/_PrivateResources/_STextures Resources/Textures/
        mv SecretsMain/_PrivateShared Content.Shared/_PrivateShared
        mv SecretsMain/_PrivateServer Content.Server/_PrivateServer
        mv SecretsMain/_PrivateClient Content.Client/_PrivateClient
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.1.0
      with:
        dotnet-version: 9.0.x

    - name: Get Engine Tag
      run: |
        cd RobustToolbox
        git fetch --depth=1

    - name: Install dependencies
      run: dotnet restore

    - name: Build Packaging
      run: dotnet build Content.Packaging --configuration Release --no-restore /m

    - name: Package server
      run: dotnet run --project Content.Packaging server --platform win-x64 --platform linux-x64

    - name: Package client
      run: dotnet run --project Content.Packaging client --no-wipe-release

    - name: Publish version
      run: Tools/publish_multi_request.py
      env:
        PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
        GITHUB_REPOSITORY: ${{ vars.GITHUB_REPOSITORY }}

#    - name: Publish changelog
#      run: Tools/actions_changelogs_since_last_run.py
#      env:
#        CHANGELOG_DIR: ${{ vars.CHANGELOG_DIR }}
#        CHANGELOG_WEBHOOK: ${{ secrets.CHANGELOG_WEBHOOK }}
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
